.hidden-table{
    display: none;
}
#loading{
    width: 2rem;
    height: 2rem;
    border:5px solid #f3f3f3;
    border-top:6px solid #6c41f2;
    border-radius:100%;
    margin:auto;
    visibility: hidden;
    animation: spin 1s linear infinite;
}

#loading.display{
    visibility: visible;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}